*{
    margin: 0;
    padding: 0;
}



header{
    background-color: rgb(116, 116, 219);
    color: aliceblue;
    padding: 2px;
    margin-top: 20px;
}

.t1{

color:red ;
}

h2{

    color: red;

}

p{

    color: blueviolet;

}









